html, body {
    background-color: #cfc;
    color: black;
    font-size: 20px;
}

.labs-list {
    list-style-type: none;
}

.labs-list-item {
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    height: 30px;
    width: 600px;
    background-color: #090;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    transition: 0.1s ease;
}

.labs-list-item:hover {
    background-color: white;
    color: #090;
}

.labs-list-item:active {
    background-color: #aaa;
}

.bordered {
    border: 2px solid #090;
    border-radius: 4px;
}
